<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC4As-vxLPkKtvd0aHFtRMQPhQtOYM4VM</string>
	<key>GCM_SENDER_ID</key>
	<string>26945918259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordExplorer</string>
	<key>PROJECT_ID</key>
	<string>worldexplorer-ea22f</string>
	<key>STORAGE_BUCKET</key>
	<string>worldexplorer-ea22f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26945918259:ios:3cac70d543b67fc18bda46</string>
</dict>
</plist>